console test/src/Schemas/SEH-FG-Kit.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/FG-Kit"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/fg-kit">

  <xs:include schemaLocation="base.xsd" />

  <xs:element name="Substrate" type="xs:string" />
  <xs:element name="LaserMark" type="xs:string" />
    <!-- inverse reference -->
  <xs:element name="groups" type="nxs:stringList" />

</xs:schema>